- @title = "0xBTCpay: Open-Source Payment Gateway for 0xBitcoin"
- @auto_h1 = false
- @body_id = "index"
%h1 0xBTCpay
%p#slogan Free Open-Source Payment Gateway for 0xBitcoin
%p
  Now your your web shop can accept payment in 0xBitcoin (0xBTC). You can install
  0xBTCpay on your own server or on a rented server at companies like
  <a href="https://digitalocean.com/">Digital Ocean</a> and
  <a href="https://linode.com/">Linode</a>.
%p
  It's free.
  %strong 0xBTCpay does not charge any fees.
%h2 What does 0xBTCPay do?
%p
  It is a bridge between the Ethereum network and traditional web stores.
%p
  When a customer wants to pay with 0xBitcoin at your web shop, your web shop
  passes the customer to your 0xBTCpay instance to handle the payment. Your
  0xBTCpay instance will monitor the customer's 0xBitcoin transaction, and it
  will tell your web shop when the order has been paid. Then your web shop can
  mark the order as paid and finish processing the order as usual.
%h2 Links
%p
  You can try out our demo shop <a class="spicy" href="https://demo.0xbtcpay.io/">The
  0xBitcoin Spicy Meme Shop</a> and pay real 0xBTC in very small amounts
  (0.001–0.003 0xBTC).
%p
  You can also visit our GitHub for installation instructions or to view the
  source code.
%ul#links
  %li
    %a(href="https://demo.0xbtcpay.io/") Demo
  %li
    %a(href="https://github.com/0xBrian/0xbtcpay/") GitHub
