- @title = nil
- @body_id = "demo"
#ewrap
  #explanation
    %h2 Demo
    %p This is a demo of a web shop with a 0xBitcoin checkout process powered by <strong>0xbtcpay</strong>.
    %p You can refresh the page to get a random cart.
    %p Click the <code>Pay with 0xBitcoin</code> button to create your order and pay.
%h2 Your cart
%ul
  - @shirts.times do |i|
    %li
      %img(src="/0xbitcoin.svg")
      Spicy meme ##{i+1}: #{@price} 0xBTC
%h2 Total: #{@total} 0xBTC
%form(method="post")
  %input#very_secure(name="total" type="hidden" value=@total)
  %button Pay now with 0xBitcoin
