[Unit]
Description=payments_worker
Wants=network-online.target
Requires=mysql.service
After=mysql.service

[Service]
Type=simple
User=_0xbtcpay
Group=_0xbtcpay
WorkingDirectory=/home/0xbtcpay/0xbtcpay
ExecStart=/home/0xbtcpay/0xbtcpay/run.sh payments_worker
Restart=always
# num sec systemd will wait before forcing service to obey
TimeoutStopSec=2
# num sec systemd will wait before restarting failed service
RestartSec=2
# 0 means disable restart rate limiting so that systemd will never give up trying to restart
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
